<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="../static/log_in-out.css" type="text/css">
</head>
<body class="body">
    <div class="root">
        <header class="main-header">
                <nav class="controls">
                    <ul class="l1">
                        <a href="index.html" class="header-buttons">Головна</a>
                        <a href="all-events.html" class="header-buttons">Події</a>
                        <a href="" class="header-buttons">Мої квитки</a>
                    </ul>
                </nav>
                <nav class="auth">
                    <ul class="l2">
                        <a class="header-buttons" href="">Логін</a>
                        <a href="registration.html" class="header-buttons">Реєстрація</a>
                    </ul>
                </nav>
        </header>
        <div class="main-content">
            <div class="login-box">
                <h1>Вхід</h1>
                <form action="" method="">
                    <input type="text" name="login" placeholder=" Логін">
                    <input type="password" name="password" placeholder="Пароль">
                    <button>Вхід</button>
                </form>
            </div>
        </div>
        <div class="under-content">

        </div>
        <footer>
            <p class="footer-text">Функціонування сайту залишається загадкою навіть для розробника. Не дивуйтеся появі/зникненню квитків. Сподіваюся, платіжні дані будуть у безпеці.</p>
        </footer>

    </div>
</body>
</html>